[Unit]
Description=Read Temperature cache Service
After=network.target
After=mysqld.Service

[Service]
User=root
Restart=always
Type=simple
ExecStart=/usr/bin/node /home/pi/getTemp/getTempStoreInDB.js

[Install]
WantedBy=multi-user.targetch